@import "colors";

.header {
  #responsive-navbar-nav {
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
  }

  .nav-custom {
    max-height: 5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
    position: relative;

    > svg {
      color: $red;
      font-size: 3rem;
    }

    > a {
      margin: 0 2rem;
      color: $dark;
      transition: color 0.3s;

      &:hover {
        color: $lightdark;
      }

      &.active {
        color: $reddark;
      }

      > svg {
        color: $red;
        transition: inherit;
        font-size: 1.5rem;

        &:hover {
          color: $lightdark;
        }
      }
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
  }
}

@media screen and (max-width: 600px) {
  .header {
    .nav-custom {
      padding: 1rem;

      > a {
        margin: 0 0.5rem;
      }
    }
  }
}
