.login {
  width: 70%;
  height: 100%;
  text-align: center;
  margin: 4rem auto;

  .login-icons {
    display: flex;
    justify-content: space-evenly;
  }

  .login-checkbox {
    display: flex;
    justify-content: space-between;
  }
}